<main class="flex flex-col gap-4">
  <app-task-filters
    [(searchTerm)]="searchTerm"
    [(selectedDevelopers)]="selectedDevelopers"
    [developers]="staticData.developers"
    (searchTermChange)="filterTasks()"
    (selectedDevelopersChange)="applyFilterDevelopers()"
  ></app-task-filters>

  <p *ngIf="isLoading">🔄 Loading data...</p>

  <ng-container *ngIf="isAgGridLoaded">
    <ag-grid-angular
      *ngIf="tasks$ | async as tasks"
      style="width: 100%; height: 70vh"
      [rowData]="filteredData"
      [columnDefs]="colDefs"
      [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
  </ng-container>
</main>
